[2016-04-25 18:43] hew opened #1 "Mouse Deltas not Normalized by React"
I have encountered a situation where certain mice have vastly different mouse deltas on Firefox as compared with the rest of the browsers. Like, 10x difference.

This shouldn't happen, as in theory React's `onWheel()` should be normalizing all the deltas across browsers. That is what React advertises it does, but it seems that it is unable to handle certain edge cases.

[2016-04-25 20:20] hew commented on #1
[React's SyntheticWheelEvent.js](https://github.com/facebook/react/blob/master/src/renderers/dom/client/syntheticEvents/SyntheticWheelEvent.js)

Hmmm. I don't think React actually normalizes these values at all.

![](http://f.cl.ly/items/1Z390J0a23202j3f282b/Image%202016-04-25%20at%201.19.00%20PM.png)

I may have misread this to say, "React will handle all event normalizations for everything, ever

[2016-04-26 00:00] hew commented on #1
I have looked at a few other mouse wheel normalization scripts and they all seem to refer back to [jquery.mousewheel.js](https://github.com/jquery/jquery-mousewheel/blob/master/jquery.mousewheel.js) as the most comprehensive option available.

[2016-04-27 23:43] hew opened #4 "Mobile/Touch Support"
Coming in the next update.

[2016-07-12 19:09] mkunevicius opened #6 "Issues"
I get this:
(https://facebook.github.io/react/warnings/refs-must-have-owner.html)

Is that because I use react@15.2.1 and maybe try to get react@0.14.8 with your dependencies when npm installing 'react-scroll-horizontal'?

Any ideas?

[2016-07-12 20:26] hew commented on #6
I don't think so, as I have the dependency for this library at React v15+.

If it's a refs thing, I suspect that it has something to do with [this area](https://github.com/hew/react-scroll-horizontal/blob/master/src/react-scroll-horizontal.js#L31) of the code.

[2016-07-12 20:31] mkunevicius commented on #6
OK, thanks, but still have no idea of workaround...

[2016-07-12 21:16] hew commented on #6
I just downloaded this repo and did a fresh install. I don't see the issue you are running into.

Do you have any sample code that I can take a look at?

[2016-07-13 08:25] mkunevicius commented on #6
Whatever you did, I don't get that warning anymore (didn't change my code). Thanks. Now just have to figure out why the content is not shown inside <Horizontalscroll> (data comes OK). What I do wrong?

`import React, { Component } from 'react'
import HorizontalScroll from 'react-scroll-horizontal'

class Gallery extends Component {
  render() {
    const child = { width: `300em`, height: `100%` }

[2016-07-13 09:42] mkunevicius commented on #6
Thank you! Whatever you did, now it doesn't throw that warning.
I only have problems with reverseScroll:
Warning: Unknown prop `reverseScroll` on `div` tag.
And sth to do with:
Uncaught (in promise) RangeError: Maximum call stack size exceeded

(https://github.com/mkunevicius/Dratele/blob/master/app/components/Gallery.js)

[2016-07-14 16:31] hew commented on #6
I was able to replicate your issue. Thanks for the report! 😸

I'm not sure what's up, but I pushed this lib to github without any proptypes, which is kind of a no-no. I'll add proptypes and tidy things up a bit, and I suspect I'll spot the issue.

I'll be able to get to this within a couple of days.

[2016-07-15 01:11] hew commented on #6
Hey @mkunevicius please try again with the newest version (0.0.6).

It should fix the issue you are having.

[2016-07-15 08:25] mkunevicius commented on #6
It seems like everything works perfect now, thank you!

[2016-07-15 16:25] hew commented on #6
Thanks for reporting! 👌🏽👏🏽

[2016-07-15 16:25] #6 closed

[2016-08-19 12:31] mbrevda commented on #4
ETA?

[2016-08-19 16:13] hew commented on #4
I can push it out this weekend maybe. It's coded, just been busy.

[2016-09-07 20:13] josephdburdick opened #8 "Cannot resolve 'react-motion'"
Hi, great plugin! I was recreating something just like this from scratch and stumbled upon this. I'm interested in leveraging this but it I've come across the following error:
[code]

I've looked into your `package.json` and it appears you've left wildcards `*` for version numbers  of some your dependencies. This will request the latest and greatest but it opens your plugin to the possibility of b

[2016-09-07 20:29] hew commented on #8
Interesting. This *should* work even with the wildcards. This isn't a breaking change so much as module resolution issue. I would say the easy fix here is to just install react-motion. It may have been uninstalled as a dependency for some other package.

I am slightly new to library creation/maintenance, so please excuse any errant mistakes. You are right I probably should not be using wildcards.

[2016-09-07 22:32] josephdburdick commented on #8
As it turns out, it's because you had it listed in devDependencies instead of dependencies. I've made a pull request as seen above.

[2016-09-07 23:30] hew commented on #8
Ah. Yes that makes sense. Nice work! 👏

[2016-09-07 23:30] #8 closed

[2016-09-22 10:32] pavanmehta91 commented on #4
can you please push touch updates for this plugin.

[2016-09-29 16:19] hew commented on #4
So just to keep everyone updated:

I have been working on this. I thought I had a quick fix, but it turns out it wasn't viable. I think I am close to a solution using [react-draggable](https://github.com/mzabriskie/react-draggable) but it's not there yet. Of course, if anyone wants to try tackling this, I am more than open to pull requests.

[2016-10-06 07:07] dulichan opened #10 "Maximum call stack exceeded"
When I have only 3 slides or less - I get the below error when I try to scroll. Any idea why this is coming?

Uncaught RangeError: Maximum call stack size exceeded

[2016-10-08 00:02] hew commented on #10
The logic that holds the sliding component 'in place' relies on the child/children being wider than parent. If you only have three slides, it might not be wide enough.

You bring up a good point, though, which is that I should do a check to ensure that the child is wider than the parent.

[2016-11-27 06:33] TimJin commented on #10
I had the same problem. after some debug here is what I did
if (curr >= 1) {//change to curr < 0
      this.resetMin()
    } else if (curr <= bounds) {//change to curr > bounds
      var x = bounds + 1
      this.resetMax(x)
    }

[2016-11-27 20:23] hew commented on #10
Yeah... I wrote this code when I first got into programming/open source. It really, really needs a re-write. I'm currently working some pretty long hours at a startup so I haven't had the time.

[2016-12-07 17:11] enlego opened #11 "Provide a button for manual scrolling"
I'm trying to trigger a WheelEvent for manual scrolling with a button.
Have you thought in providing some manual button for scrolling? I have some users that don't naturally scroll and are expecting a button to move around.

Tranks!

[2016-12-07 17:59] hew commented on #11
Yes I actually implemented a button-based approach a little while back for a project. I will see if I can locate that code. But the basic idea is you just emulate mouse deltas manually. So the button would add however many units to state that you want to move. The code for this lib is actually fairly simple in some ways. It's just a funnel.

Mouse deltas --> state --> React Motion

So you would wa

[2017-04-19 21:47] jgentes opened #12 "Can't resolve 'react-motion'"
First attempt to import and use HorizontalScroll resulted in this error:

`Module not found: Error: Can't resolve 'react-motion' in '...\node_modules\react-scroll-horizontal\dist'`

Installing `react-motion` via npm fixed the problem. Is this a dependency that should be included?

[2017-04-19 21:49] jgentes commented on #11
Would love to see this if you have it, also would be great to allow scrolling with touch on a mobile web browser.

[2017-05-09 06:55] Liqiankun opened #14 "module not found 'react-scroll-horizontal'"

[2017-05-09 06:55] Liqiankun commented on #14
![2017-05-09 2 55 10](https://cloud.githubusercontent.com/assets/11532418/25838822/89ca8cc6-34c7-11e7-8b0a-f66ecf534ec3.png)

[2017-05-09 22:53] raissanorth commented on #14
That appears to be a simple typo in the demo code provided. Try `import HorizontalScroll from 'react-scroll-horizontal'` instead.

[2017-05-09 23:06] hew commented on #14
Yes @raissanorth is correct. Mistake in the Readme. I had to change the name after I discovered that 'react-horizontal-scroll' was taken. I have corrected the Readme. Thanks.

[2017-05-10 01:48] Liqiankun commented on #14
Thank you! I should spend more time on Readme! @raissanorth @hew

[2017-05-10 01:57] Liqiankun commented on #14
I figured it out!
[code]
[code]
Then it works!

[2017-05-10 02:30] Liqiankun commented on #14
But It still do not give me what I want!

[2017-05-10 04:28] raissanorth commented on #14
You might want to read the comment from @hew again and pay attention to the name of the module. You actually installed a different one. This module is called react-scroll-horizontal. Hence you need to use `npm install react-scroll-horizontal` and the import statement I mentioned earlier.

[2017-05-11 23:46] gretzky commented on #12
[Merged](https://github.com/hew/react-scroll-horizontal/pull/13)

[2017-05-12 06:36] Liqiankun commented on #14
@raissanorth Thanks! I will give it a shot!

[2017-05-14 21:19] hew commented on #12
I forgot to push the new release to NPM. Use the Github version in the interim.

[2017-05-15 19:18] hew commented on #14
New version (1.1.2) out: https://github.com/hew/react-scroll-horizontal/releases/tag/1.1.2

[2017-05-15 19:20] hew commented on #12
New version out: https://github.com/hew/react-scroll-horizontal/releases/tag/1.1.2

Should fix the above errors.

[2017-09-14 21:49] #10 closed

[2017-09-14 21:55] hew commented on #10
Fixed w/ https://github.com/hew/react-scroll-horizontal/releases/new?tag=v1.1.3

[2017-09-15 16:48] #14 closed

[2017-09-15 16:48] #12 closed

[2017-10-30 16:15] sadzebra opened #18 "Doesn't support percentages"
I know this is in the documentation but we know the reason it doesn't work with percentages maybe a plan of action to support it?

It would be a handy feature.

[2017-11-06 21:22] hew commented on #18
This would be achieved by doing a runtime check for for the length of the parent element, and then translate the mouse deltas to be a pixel/em representation of the percentage of the length.

That's how I would do it, I think.

[2017-11-06 21:25] hew commented on #18
I'll attempt this at some point, but if anyone wants to take a crack at it, PRs are welcome.

[2017-11-07 21:19] sadzebra commented on #18
I'm thinking about giving it ago but it's a case of finding some time to spend on it.

[2017-11-24 12:59] ThatBrianDude opened #19 "Crazy "shiver" behaviour when zoomed out"
https://imgur.com/a/RzCHH

In the GIF its less visible but the shivering is actually much faster then it looks. Whenever Im zoomed out and the content is in the center of the scroll area I am NOT scrolling with my mouse. The back and forth behaviour came from nothing.

EDIT: if it means anything, I had to remove react v15 from the node modules folder of the "react-scroll-horizontal" module because

[2017-11-24 13:10] ThatBrianDude opened #20 "Not working in IE"
In IE 11 child items are forced to fit regardless of their width.

[2017-11-25 22:41] squillace91 opened #21 "wrong import package name in documentation example"
In one of the examples at [npm package page](https://www.npmjs.com/package/react-scroll-horizontal,) it shows `import HorizontalScroll from 'react-horizontal-scroll' ` but should be instead `import HorizontalScroll from 'react-scroll-horizontal'`

[2017-11-28 00:39] hew commented on #21
Fixed. Thanks for contributing!

[2017-11-28 00:39] #21 closed

[2017-11-28 00:40] hew commented on #20
Noted. I def didn't test this much on IE.

I'll make a note in the readme.

[2017-11-28 00:40] #20 closed

[2017-11-28 00:43] hew commented on #19
Interesting.

I suspect that we maybe need to re-render/re-calculate on browser magnification. (Not sure if there is an event for that.) Does that behaviour occur only with magnification?

[2017-12-20 02:47] chenjinxinlove opened #22 "react 16 report an error"
Error in /turbo_modules/fbjs@0.8.16/lib/invariant.js:
Element ref was specified as a string (hScrollParent) but no owner was set. You may have multiple copies of React loaded. (details: https://fb.me/react-refs-must-have-owner).
Evaluating index.js

https://stackblitz.com/edit/react-yjxusz?embed=1&file=index.js

[2017-12-20 16:00] jorgemarrero commented on #22
The same for me.

[2017-12-24 21:56] MohammadHasham opened #23 "'react-scroll'horizontal' not being recognized for react 16"
The component doesn't seem to be imported.As if packages are not installed.

[2017-12-26 21:42] hew commented on #22
I haven't gotten around to pushing an update to this library for React 16. But string refs are a pretty old thing. In the meantime, you might want to start with converting those to functions, maybe. It seems that string refs w/o a parent might not be allowed anymore.

[2017-12-26 21:43] hew commented on #23
Hmm. Need more info.

[2017-12-27 05:13] MohammadHasham commented on #23
when i try
`import ReactHorizontalBar from react-horizontal-bar`

The error says, cannot find 'react-horizontal-bar'

[2018-02-01 02:24] MelMepham commented on #19
I am having this issue when I am scrolling with my mouse.. starts shivering like the gif, it doesn't stop until I refresh the page...

[2018-02-01 02:26] MelMepham commented on #19
oohh ok, on that note, its only when I don't have enough children to do the horizontal scroll. easy fix, add more elements, but something to note.

[2018-02-04 00:20] MelMepham opened #25 "Question: How to Handle Responsive"
Hey, so I am using this, and I am wondering how I can make it responsive, I know that the width and height have to be defined, so does that mean responsiveness isn't really a thing without a heap of media queries?

[2018-02-08 01:50] hew commented on #25
@MelMepham The best bet for responsive would be to try `vw`. Keep in mind also that the restriction is just for the parent, so you could maybe have a mixture of 100% parent with some kind of treatment for the children. Hope this helps!

[2018-02-08 01:52] hew commented on #23
Hmm, that syntax won't work (the name is incorrect). You will want to try

`import HorizontalScroll from 'react-scroll-horizontal'`

[2018-02-08 01:52] #23 closed

[2018-02-08 02:11] hew commented on #22
New release out with function refs. This maybe fix your issue. https://github.com/hew/react-scroll-horizontal/releases/tag/v1.2.0

[2018-02-08 02:12] hew commented on #19
Agreed. I've made a more emphasized note in the Readme. Thanks!

[2018-02-08 02:12] #19 closed

[2018-02-10 19:04] zachgibson commented on #12
@hew Seeing this issue with version 1.2.0:
[code]

[2018-02-11 04:14] MelMepham opened #26 "Buttons in the horizontal scroll will always revert back to the beginning of the scroll"
I have a page full of images that have onClicks on them, every time one of the buttons is pressed it reverts back to the beginning, I found the translate that is moving the scroll. but if I try and set the state of that it seems to be overrided by something in the base code..

[2018-02-12 00:01] hew commented on #12
@zachgibson I see the issue (I think). I'll push up another release asap.

[2018-02-12 19:35] hew commented on #12
@zachgibson Ok this release should fix that issue.
https://github.com/hew/react-scroll-horizontal/releases/tag/v1.2.1

[2018-02-12 19:37] zachgibson commented on #12
@hew Nice! Thanks dude.

[2018-02-13 19:53] zachgibson commented on #26
@MelMepham Looking through the source I’d guess maybe [this code](https://github.com/hew/react-scroll-horizontal/blob/master/src/react-scroll-horizontal.js#L83) is reseting your translate.
[code]
If you make a [CodeSandbox](https://codesandbox.io/) I’d be happy to take a look.

[2018-02-13 19:59] zachgibson opened #27 "Expose interpolatedStyle"
My use-case needs to animate more than just translation. It’d be great to have `interpolatedStyle` exposed to children of `HorizontalScroll `. I’d be happy to implement this if you’re down.

[2018-02-14 01:59] MelMepham commented on #26
Yup, that is totally what it was, a good point of code to note if it happens for anyone else. I deleted that line of code and it hasn't had any other negative effects yet..

[2018-02-14 22:02] hew commented on #27
Sure @zachgibson - go for it 😎

[2018-02-18 22:25] zachgibson commented on #27
I realized something. Access to interpolatedStyle won’t be as useful without a way to say *when* you want to animate a specific item. My example was going to animate some other transform property like rotation in addition to the original horizontal translation, but I would want to animate it when the item is in view. I could possibly write some “in view” logic to enable or disable the animation. N

[2018-02-18 22:27] zachgibson commented on #26
@MelMepham I’m wary of deleting code where I don’t know it’s purpose. 😜 Maybe @hew can weigh in on what this code does?

[2018-02-26 20:32] hew commented on #26
I can't remember, but I suspect we can delete it. Looking at the code, it seems like https://github.com/hew/react-scroll-horizontal/blob/master/src/react-scroll-horizontal.js#L32 will handle new children. I don't see any point in resetting the scroll back to the beginning also.

[2018-02-26 20:36] hew commented on #27
It's experimental, but we could maybe try `intersectionObserver` to determine if a child is in view.

[2018-03-09 16:11] zachgibson commented on #4
@hew I’m working locally on a fork and I got it working with Draggable. But… It’s weird. I wrap everything in Draggable, set it to only drag horizontally, then set the first child transform CSS to `translate(0px, 0px)!important`. This gives me a deltaX value without actually moving any UI on drag. I then set `animValues` state with this value.

I think this approach is fine because we need a way t

[2018-03-09 16:22] zachgibson commented on #27
Yeah I’m curious if that would work and what it would look like. Coming from React Native land, we have a method called interpolate that solves issues like this. Don’t know if it would be possible with React Motion, but it’d be really nice.

e.g.
[code]

[2018-03-15 20:46] MelMepham commented on #26
Yup, I have had no issues. Should I make a pull request to delete this?

[2018-03-15 20:48] MelMepham opened #28 "Not mobile responsive"
So I have used this scroll, for a website I am making (checkout aplaceofdreams.herokuapp.com) - but its not mobile responsive, I am interested in learning how to do this, and adding to this module to make it a feature, would anyone have any ideas on where to start looking?

[2018-03-16 16:08] hew commented on #26
Yes that would be great, thanks.

[2018-03-24 19:00] zachgibson commented on #28
@MelMepham You can use [react-draggable](https://github.com/mzabriskie/react-draggable). I did this already but didn’t PR it. Basically you wrap this component with Draggable and `onDrag` you set state. e.g. this.state.animValues + deltaX. The weird thing was, you need to explicitly disable dragging via draggable so draggable won’t move your UI—you’re relying on react-scroll-horizontal to do that.

[2018-03-31 16:57] lemonadecreative commented on #26
Hey guys. Removing `this.resetMin()` worked for me as well, in my case. Will this be updated in a new version, or how do you suggest implementing this for future upgrades?

Thanks

[2018-04-04 23:39] hew commented on #26
@lemonadecreative, and everyone else. @MelMepham's PR has been merged, and the new release can be found here: https://github.com/hew/react-scroll-horizontal/releases/tag/v1.3.0. Thanks everyone for your contributions.

[2018-04-04 23:39] #26 closed

[2018-04-04 23:48] hew commented on #26
Note: please use [1.3.1](https://github.com/hew/react-scroll-horizontal/releases/tag/v1.3.1) for the above.

[2018-04-04 23:51] hew commented on #27
I kinda forgot we were still in the middle of this. I merged your PR, but we can continue hashing out the rest of the functionality. https://github.com/hew/react-scroll-horizontal/pull/30

[2018-04-04 23:57] hew opened #31 "Roadmap to 2.0"
(More to come...)

[2018-07-05 12:03] tailornirmal opened #32 "Its not working for me"
Code  :

`import React, { Component } from 'react';
import HorizontalScroll from 'react-scroll-horizontal'

class Scroll extends Component {
  render() {
    return (
      <div>
        <HorizontalScroll>
            <div style={{width : '300px',height : '300px'}} />
        </HorizontalScroll>
      </div>
    );
  }

}

export default Scroll;`

TypeError: _this4.props.children is not a function

[2018-07-05 12:16] tailornirmal commented on #32
![error](https://user-images.githubusercontent.com/39124868/42322791-63d71010-807b-11e8-9721-c866f87c5f73.png)

[2018-07-06 23:53] hew commented on #32
Hey @tailornirmal,

This lib is designed to allow you to scroll the children of a parent div (horizontally). So, there will need to be children present. That is the error that you are getting there. Admittedly, I should handle this better in the code.

I will open an issue for this. Thanks for your report!

[2018-07-06 23:54] hew opened #33 "Better no children error handling"
As per https://github.com/hew/react-scroll-horizontal/issues/32, we should better handle a lack of children with some error handling.

[2018-07-06 23:55] hew commented on #32
Gonna close this one for now. As I said above, thanks for the report!

[2018-07-06 23:55] #32 closed

[2018-07-07 23:40] Nickadiemus commented on #33
Could really use this package in my personal portfolio but It doesn't seem to work when trying to render by your examples. getting a specific error on

[code]

[2018-07-08 04:41] HippErger opened #34 "question - What am I doing wrong to not get to use this awesome component?"
###yarned all dependencies, followed readme exact and when I spin it up I get this error:

####TypeError: _this4.props.children is not a function

react-scroll-horizontal.js:212 Uncaught TypeError: _this4.props.children is not a function
    at Object.children (react-scroll-horizontal.js:212)
    at Motion.render (Motion.js:255)
    at finishClassComponent (react-dom.development.js:13193)
    at u

[2018-07-08 19:54] hew commented on #34
@HippErger hmm, this looks like the same thing as https://github.com/hew/react-scroll-horizontal/issues/32, which I closed on @tailornirmal (sorry!).

Gonna look into this today, so I should have an update later.

[2018-07-08 21:23] #33 closed

[2018-07-08 21:29] hew commented on #33
@Nickadiemus  Just pushed a new version that fixes your issue. https://github.com/hew/react-scroll-horizontal/releases/tag/v1.5.0

[2018-07-08 21:30] hew commented on #34
You are doing nothing wrong. This was an error on my part. I've fixed it with this latest version: https://github.com/hew/react-scroll-horizontal/releases/tag/v1.5.0

[2018-07-08 21:38] hew commented on #22
Gonna close this, as it's been inactive for a while. Feel free to comment if this is still happening, and I'll open'r up again.

[2018-07-08 21:38] #22 closed

[2018-07-08 21:39] hew commented on #11
I'm going to close this, as I doubt I'll ever implement a button. This lib specializes in mouse events.

[2018-07-08 21:39] #11 closed

[2018-07-13 21:04] HippErger commented on #34
Thank you for looking into this. Not throwing an error anymore but still can't get it to render. I've put content in the empty divs, colored the background and still doesn't even show up in DevTools.

[2018-07-14 03:32] hew commented on #34
Hmm - so to confirm, the component isn't mounting into the DOM?

Got a repo I can take a look at?

[2018-08-16 20:35] ayanez17 commented on #34
Same here, things are not rendering or mounting to the DOM. My code looks as follows:
[code]

FYI:
`"react-scroll-horizontal": "^1.5.1"`

[2018-10-29 23:19] kimborgen opened #35 "Add react-draggable?"
Hi!

First off, loving your project.

As mobile support is a *must* these days it is sad that this project does not support it. I would like to have one component for one "feature" if you know what i mean.

I've been able to include react-draggable and react-scroll-horizontal in my own project. And it seems to work pretty good! But it was not as easy as I would like.

**Is integrating react-dragga

[2018-11-07 22:45] nats12 opened #37 "Grey background when adding the scroll around my components"
Hi, I keep getting just a grey screen when trying to work this. It won't scroll vertically (as it did before adding the scroll) nor horizontally. I've made sure I have enough projects to notice the scroll as one wouldn't make a difference. Please find code snippet below:

<img width="565" alt="screenshot 2018-11-07 at 22 46 17" src="https://user-images.githubusercontent.com/15801768/48165903-fb356

[2018-11-13 13:18] GuilhermeGuiuler opened #38 "Question"
Hello how are you? Well, I have a question. I would like to start my Scroll on a child who has an active class. Is it possible to do that?

[2018-11-26 13:56] JonathanWi commented on #35
Interested as well, any chance you could share your implementation somewhere and/or create a PR with it?

[2018-11-26 14:13] kimborgen commented on #35
@JonathanWi

Hi, I did not want to start working on a feature before it was confirmed that this was something the project maintainer wanted. So i have not made any PR yet.

In order to implement react-draggable this project needs to merge #36. Since this is not done yet (The project maintainer seems inactive) you can pull this from my project: https://github.com/kimborgen/react-scroll-horizontal

[2018-12-05 01:44] hew commented on #37
My guess here would be the styles as being the culprit. Are the children rendered, if you check the DOM nodes (in the browser inspector)?

[2018-12-05 01:47] hew commented on #38
That is not possible currently. If you know the width of the children, you could maybe calculate how far over you need to offset the initial position of the scroll.

I'd be interested in some kind of PR that accomplishes the above, then we could expose an offset prop.

[2018-12-05 01:49] hew commented on #34
Which version of React are you using?

[2018-12-05 02:05] hew commented on #35
Hey everyone. Sorry for the late response.

I don't think so. I'd rather just leave the animProp from your PR open (nice work on that btw) so that the scroll can be solved in user space. But I'd 100% be for a note in the PR that shows how to integrate `react-scrollable`.

[2018-12-05 02:05] #35 closed

[2018-12-05 02:13] #38 closed

[2019-01-01 08:34] Tsury opened #40 "Add Null Checks for Elements"
I just started using this library so I don't have much info to give, but it's maybe worth adding some null check for `el` there if you can't find it in the DOM.

[code]

![image](https://user-images.githubusercontent.com/4947581/50571339-a1b66080-0db0-11e9-9abd-9465d90d7ac0.png)

[2019-01-01 19:14] hew commented on #40
Yes that is a good idea.

I'm curious - what is that error reporting tool you are using? Looks cool.

[2019-01-01 22:08] Tsury commented on #40
It's Sentry. Hands down best error reporting system.

[2019-02-03 18:08] quinnliu commented on #28
@zachgibson Thanks 4 the comment. R u able 2 show some example code of what u mean exactly? I'm having trouble implementing what u mean. This is what I have so far. Thanks.

[code]

[code]

[code]

[2019-02-03 18:41] quinnliu commented on #4
@hew @zachgibson I am curious if any1 minds providing example code 4 how 2 implement this? Thanks from a fan :)

[2019-03-21 08:12] erboland opened #42 "Scrollbar"
Hello, I wanted to make a styled scrollbar with this component, but when I actually style it and make it visible in the files of the component, it has pretty strange behavior. The scrollbar becomes bigger when I scroll the list with my mouse wheel instead of moving with the list. Do you know what might cause such problem?

[2019-03-22 04:54] hew commented on #42
It's hard to say. Do you have a screenshot you can share?

[2019-05-16 21:53] MatthewGreenberg opened #43 "page lock doesnt work on chrome"

[2019-05-17 17:59] hew commented on #43
The page lock just adds a lock class to `body` but you will need to add the CSS you want to make the "lock" work for your needs. I initially had some styles that shipped with that class, but each website is different so I opted to let users take care of this in user land. Hope this helps!

[2019-05-17 17:59] #43 closed

[2019-09-09 14:23] cyruslk opened #80 "Not able to active the pageLock= {bool}"
Hey, thanks for this great package!

Here's my code:
[code]
When I implement the pageLock, I see the the body is `locked__ `. However I I'm not able to fully lock your component with css nor JavaScript. I filled a StackOverflow issue [here](https://stackoverflow.com/questions/57858182/not-able-to-lock-transform-translate3d-when-blocking-the-html-tag) with my attempts. What do you suggest so that I

[2019-09-09 15:00] cyruslk commented on #80
I see that it triggers the HTML. However I'm not able to block your components with CSS. What tricks do you suggest? Thank you.

[2020-02-20 21:49] sajhu opened #81 "linked demo doesn't work"
Hey

so I came across this plugin seaching for an horinzontal solution, opened the demo and it didn't scroll, either with the mosewheel nor while dragging

[2020-02-21 14:26] KirDontsov opened #82 "Unable to preventDefault inside passive event listener"
How to clear this err?

[Intervention] Unable to preventDefault inside passive event listener due to target being treated as passive. See https://www.chromestatus.com/features/6662647093133312

[2020-02-24 23:12] hew commented on #81
Yeah I noticed that recently — at least in Safari.

I'm currently looking for a maintainer for this project. It needs a lot of love, and I'm currently too busy with work to really dedicate any time to a re-write. If anyone reading this is interested, let me know.

[2020-02-24 23:13] hew opened #83 "Looking for a Maintainer 👀"
I'm currently looking for a maintainer for this project. It needs a lot of love, and I'm currently too busy with work to really dedicate any time to a re-write.

If anyone reading this is interested, let me know.

[2020-03-03 19:09] hew commented on #82
Should be fixed w/ https://github.com/hew/react-scroll-horizontal/pull/84.

Re-open if not.

[2020-03-03 19:09] #82 closed

[2020-03-03 19:12] hew commented on #81
Fixed w/ https://github.com/hew/react-scroll-horizontal/pull/84

[2020-03-03 19:12] #81 closed

[2020-03-03 19:13] hew commented on #81
Note: this lib doesn't support dragging.

[2020-03-03 19:15] hew commented on #80
Hmm. This issue is pretty old. I suspect you have either moved on from this project, or found a solution.

Gonna close for now. Feel free to re-open.

[2020-03-03 19:15] #80 closed

[2020-03-03 19:17] #42 closed

[2020-03-03 19:18] #34 closed

[2020-03-03 19:21] hew commented on #40
Need to add some basic null checks. This would be a good first contribution issue.

[2020-03-04 06:33] KirDontsov commented on #82
Yeah, fixed now, thank you very much! Your repo with draggable addition, is a great thing, now working on mobile, and looks amazing! )

[2020-03-04 17:36] hew commented on #82
@KirDontsov Glad it's working out! If you can share a link, I'd love to see it in action.

[2020-03-05 06:36] KirDontsov commented on #82
Sure, here is the test link, later it would be a small e-shop in Russia, I'll rework design a little bit, but the basic concept is on the horizontal scroll ))
[http://martinz.rainbows23.tmweb.ru/](url) @hew

[2020-03-08 05:14] hew commented on #82
@KirDontsov Love it! Looks great.

[2020-03-31 02:39] MrUltimate opened #85 "Looping Scroll Possible?"
Hi,

Is there way to use this and have it loop infinitely in either direction? Sort of like this website: https://www.kwokyinmak.com/

Appreciate all the help I can get! :)

[2020-03-31 04:59] MrUltimate opened #86 "Scroll to child element?"
Hi,

Is there a way I can use the AnimValues to scroll to a child element within the `<HorizontalScroll />` elements? Currently using anchor tags breaks the scroll entirely.

Appreciate all the help I can get! :)

[2020-03-31 06:14] MrUltimate commented on #86
Current came up with this very hack-y way using jQuery (could probably use refs for a pure js solution). This is how I did it for those looking to do something like this in the future:

[code]

[2020-03-31 06:15] #86 closed

[2020-04-01 16:13] hew commented on #85
It's not really possible with the current architecture. I'll leave this open, though. Maybe someone else has an idea.

[2020-04-24 12:22] jjalonso commented on #28
Will be great to post it as component or PR.

[2020-04-24 12:23] jjalonso commented on #4
If somebody could provide implementation will be great

[2020-08-30 09:49] baymax88 opened #87 "HorizontalScroll Wheeling Error"
When I scroll the mouse, it shows the error like the following video.
https://www.loom.com/share/c541583c6e4e476c86b3d54841b59c7b
As you can see, if there are fewer child components, it is not finding where the child should be placed but vibrating.
It seems I need to set the option when the sum of the width of children is less than the parent component's width.

Please let me know how I can fix th

[2020-10-02 20:22] marcelojrfarias commented on #31
Hi! Congratulations on the project! Do you have news about this issue?

[2020-10-10 17:06] jimmynames commented on #28
+1 for @zachgibson code share or PR/Comp <3

[2020-11-03 16:26] cyruslk commented on #85
I was working on this until I saw this issue. I've been able to keep track of the translate3D() value, @hew is there a way to now reset the component to its initial translate3D value (e.g: (0, 0, 0))? Have you implemented something that can help us doing this?

Thanks for this package and help you can provide, much appreciated.

[2020-11-16 20:07] sujithsomraaj opened #89 "Scroll not working on mobile - Safari"
Hi,

The scroll component works fine on mobile in the browser with the mouse wheel. But it is not working in mobile screens.

Thanks

[2020-11-17 02:58] hew commented on #85
Yes there is a way to directly manipulate the translate value, but it causes the scrollwheel to jump around and it makes for a poor user experience. At least that was what happened when I attempted.

I think @zachgibson [wrapped this library with react-draggable](https://github.com/hew/react-scroll-horizontal/issues/4#issuecomment-371858254) at some point. I think that is the current meta.

[2020-11-20 15:59] cyruslk commented on #85
This is a way to proceed but as you said, it creates a glitch that alters a bit the user experience.
1 - Monitor the translateY value and add the page's width,
2 - If it reaches the entire width of the component,
3 - Reset the loop by re-initing the component.

[code]

[2020-11-20 21:13] hew commented on #85
This looping scroll issue is typically achieved by manipulating the items, not so much the scroll positioning.

Something like

[code]

[2020-11-24 21:30] cyruslk commented on #85
Thanks for the response @hew! Could you expand on the items array and maybe give a more detailed example? Not sure to see how this can be  done from this given piece of code.

[2020-11-25 18:02] hew commented on #85
It's just pseudo code. But the idea is that you move the first item to the last spot when you reach a certain point. The scroll positioning doesn't change so much as the items in the array change/re-order.

This is how I've seen it done with other websites, but I could never nail an implementation that really worked with this library's architecture.

           ----------------------
          ⬆️

[2020-12-08 19:18] cyruslk commented on #85
Ah I see. Clever.

[2020-12-22 14:20] AshleighRefresh opened #91 "Reaching the end of the horizontal scroll container"
Hi there

I'd just like to find out if there is a way to tell when you've reached the end of the horizontal scroll container?
I saw the PR which has not yet been merged in, so just wanted to find out if there is a work around that I could use for now?

Thanks!

[2021-01-25 18:02] hew commented on #31
I can state for sure that a re-write is in the books. Hooks API. Lots of fun changes. Stay tuned.

[2021-03-24 12:01] falahati commented on #4
A quick and dirty solution for allowing scrolling via touch devices is to use the following SCSS/less style:

[code]

[2021-06-22 15:12] MuhammadAli-208 commented on #89
any update on this ?

[2021-07-02 18:20] averybos opened #93 "Trying to install with react v17"
Its not letting me install because of different react versions. Has anyone tried yet? Or should I just run

`npm i react-horizontal-scroll --force`

and hope nothing breaks?

[2021-07-15 17:32] benkhlifafahmi commented on #87
any update ?

[2021-09-13 07:15] PravunathSingh commented on #93
Hey, I'm having this same issue and I am not entirely sure of using the --force flag. Have you found any work around this?

[2021-09-14 17:31] tindoescode commented on #93
Its ok, never mind 😁

[2021-12-04 18:36] Ash000es commented on #93
Did anyone find a solution for the v17 react installation issue or any other scroll that works with 17? 🤓

[2021-12-16 16:41] simonsantan opened #96 "Is it support Scrollbar or progress bar?"
Hello, I haven't find any documentations for adding scrollbar or progress bar?

Can you resolve it?

[2021-12-29 06:48] simonsantan commented on #4
Hello, How can I use touch/mobile support?

[2022-01-09 19:31] Mayank1403 commented on #93
Same issue, did anyone find any solution to this ?

[2022-01-19 03:03] MrUltimate commented on #31
@hew How's that rewrite coming along?

[2022-01-31 22:35] hew commented on #4
Interesting! Thanks for sharing.

[2022-01-31 22:37] hew commented on #31
@MrUltimate — poorly, to be honest. I'm kind of looking for a maintainer to take over this project to maybe breathe some life into it.

https://github.com/hew/react-scroll-horizontal/issues/83

[2022-02-03 07:54] hew commented on #31
Fuck it I've started on V2. Written in ReScript. I made enough progress that I am motivated again.

I'll keep you all updated.

[2022-02-03 20:19] hew commented on #96
Not sure what you mean re: progress bar, and you can add a scrollbar with css if you like. I'm currently working on V2. I'll be sure to add an option to allow x overflow.

[2022-02-03 20:19] #96 closed

[2022-02-03 20:20] hew commented on #93
It should work with force in theory. 17 still is back-compatible with classes (I think..)

[2022-02-03 20:21] hew commented on #91
@AshleighRefresh Yeah that PR had some git conflicts that I wasn't too keen fixing, so I'm re-writing the lib completely. V2 will have the `onEnd`, `onBeginning`, etc callbacks so you can know when you are at the end.

If you are in a pinch, just clone the PR branch and use that, as others have.

[2022-02-03 20:21] #91 closed

[2022-02-03 20:23] hew commented on #87
The video is gone, but as noted in the README, the width of the children must be greater than the width of the scroll container (or there's nothing to scroll).

[2022-02-03 20:23] #87 closed

[2022-02-03 20:25] hew commented on #89
There is no mobile support with V1. I'll see what I can do with V2. I have some ideas.

[2022-02-03 20:25] #89 closed

[2022-02-03 20:31] hew commented on #85
Gonna close this for now. I've started on V2. Whether or not I try and implement the above approach, I will try my best to enable a looping option.

[2022-02-03 20:31] #85 closed

[2022-02-03 20:31] #28 closed

[2022-02-03 20:31] #18 closed

[2022-02-03 20:32] #37 closed

[2022-02-03 20:32] #40 closed

[2022-02-03 20:32] #27 closed

[2022-02-03 20:33] hew commented on #83
Never mind. I'm motivated again.

[2022-02-03 20:33] #83 closed

[2022-02-03 20:33] #25 closed

[2022-02-03 21:15] MrUltimate commented on #31
That's great to hear, @hew. Hopefully this project revitalizes your energy :)

While I trying to building my new portfolio, I've come across interesting scenarios and I wonder if this is something you can tackle with the new rewrite. In essence, there don't seem to be any good smooth-scrolling libraries that use the native scroll bar to smooth scroll, much less handle multiple directions or mouse-

[2022-02-04 23:32] hew commented on #31
@MrUltimate The thing is, animations tend to be more performant when you are not using overscroll. If you really need a scrollbar, implementing one may be the best way to do. I can explore that, and the infinite loop.

[2022-02-08 13:29] Martibis opened #97 "Prevent when scrolling child component"
Within the full page horizontal scroll, I have another component with vertical scroll. Is there a way to prevent the  horizontal scroll from triggering when scrolling in the child component?

[2022-02-10 14:33] samhren opened #98 "Scroll event listener doesn’t work for horizontal"
Event listener for window doesn’t trigger on ‘scroll’ when scrolling horizontal. And the documentation doesn’t explain how animValues work. So what would be the solution here, trying to animate my background when in a certain part of my site.

[2022-02-10 21:07] hew commented on #98
Scrolling in the area of the page that the library is handling won't trigger any scroll events because the overflow is hidden in the parent element. If you provide some code, I can try to help you out with your implementation.

[2022-02-11 02:59] samhren commented on #98
I am just wondering if there is a way to get the current position you are on the site. I am attempting to create an animated background that plays when you scroll over a certain part. But it impossible if the scroll events wont trigger.

[2022-03-17 17:30] L87R78 opened #99 "Is it possible to remove horizontal scroll?"
![Screenshot from 2022-03-17 19-32-22](https://user-images.githubusercontent.com/37410469/158860858-314fd188-4f39-4cd6-88ac-c173ff59f871.png)

[2022-03-28 15:35] athosfranco opened #100 "Is it possible to detect when the user scrolled the entire component till the very end?"
I want to execute some code when the user reaches the 'ending' of the horizontal scroll. Is that possible?

[2022-04-26 18:41] jamesryan-dev commented on #4
+1 following for any further developments

[2022-07-01 19:03] Hyslach653 opened #101 "componentWillReceiveProps has been renamed, and is not recommended for use"
I recently tried this package and suddenly I got this warning.

This is my first time opening an issue, so if I can provide any more information please let me know.

I'm using React 16.13.1

This is the warning snapshot to see the whole message:
<img width="785" alt="Screenshot 2022-07-01 at 21 02 37" src="https://user-images.githubusercontent.com/62752586/176955133-1510deea-f4c3-44c1-beb8-079a42c

[2022-07-13 09:56] Hyslach653 opened #102 "Component starts already scrolled"
I'm building an eCommerce site with React and for the product page I'm using this package for the images.

Each product has different colours, so when you change the colour the page stays the same but the information changes.

Imagine you start by seeing a product with 3 images and scroll to the end and then you click on a colour with only one image. This will be what you see:
<img width="500" alt

[2022-08-27 00:32] SafraPC commented on #100
Yes! you can find the class into the div created by your scroll horizontal and calculate the scroll width and position.

Follow a scroll example :

const wheel = document.querySelector(
			".scroll-horizontal"
		) as HTMLDivElement;

		if (wheel) {
			wheel.addEventListener("wheel", (e) => {
				const { deltaY } = e;
				const scrollSize = wheel.scrollWidth - wheel.offsetWidth;
				if (scrollValue

[2022-09-05 20:34] marcoss94 opened #103 "Implement a next button to advance from element to element in the horizontal scroll"
Hello, I need to implement a next button to advance from element to element in the horizontal scroll, is it possible?

[2022-09-22 15:28] Shailendra1703 opened #104 "Content inside the HorizontalScroll is not rendering the webpage."

[2022-10-22 20:26] iuri opened #105 "Auto Scrolling horizontally"
Hello there,
How would I enable auto scrolling?

[2022-10-22 20:36] iuri opened #106 "ERR! Could not resolve dependency: peer react@"^15.0.0 || ^16.0.0""
Hello there,

I tried to install react-scroll-horizontall plugin but it failed because of react core dependencies.  Please, read error below.

Is there an easy way to update dependencies?

Failed to compile.

Module not found: Error: Can't resolve 'react-scroll-horizontal' in '/src/components'
ERROR in ./src/components/Currencies.js 5:0-55
Module not found: Error: Can't resolve 'react-scroll-horiz